div{
    border: 3px rgb(32, 32, 32);
}
header{
    display: flex;
    align-items: center;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    text-align: center;
    border: 15px #F29EAC solid ;
    background-color: #F29EAC;
    letter-spacing: 2px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #F4B8C1;
}
#logo > img{
    height: 100px;
    width: 150px;
} 

#titulo{
    width: 100%;
    text-align: center;
}

#titulo > h1 {
    color: white;
}

#menu-principal > a{
    text-align: center;
    margin-left: 150px;
    color: white;
    text-decoration: none;
    font-size: 25px;
}
#menu-principal{
    position: sticky; 
    top: 10px;
    border: 1px #F29EAC solid;
    background-color: #F29EAC;
    border-radius: 3px;
    margin-top: 10px;
    height: 35px;
    font-size: 18px;
}
nav{
    text-align: center;
    box-shadow: 4px 4px 4px #F4B8C1;
}
main {
    border: 5px #F29EAC solid;
    border-radius: 10px 10px;
    box-shadow: 4px 4px 4px #F4B8C1;
    display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
body {
    background-color: #FCF0F3;
}
#coletor{
    text-align: center;
    color:#F29EAC;
}
#abdorvente-pano{
    text-align: center;
    color:#F29EAC;
}
#ob{
    text-align: center;
    color:#F29EAC;  
}
#absorvente{
    text-align: center;
    color:#F29EAC;  
}
